# Temporary files
/cache
/libraries
/versions
/map-color-cache.dat

# Usage files
/logs
/.console_history
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/usercache.json
/version_history.json
/whitelist.json

# World folders
/world*
