# Temporary files
/cache
/libraries
/versions
/map-color-cache.dat

# Usage files
/logs
/.console_history
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/usercache.json
/version_history.json
/whitelist.json

# World folders
/world*

#
# Plugins
#

/plugins/update

# ActionHealth
/plugins/ActionHealth/players

# AngelChest
/plugins/AngelChest/angelchests
/plugins/AngelChest/logs

# Authy
/plugins/Authy/data.db
/plugins/Authy/lastdb

# DiscordSRV
/plugins/DiscordSRV/config.yml
/plugins/DiscordSRV/linkedaccounts.json

# eBackup
/backups

# EZColors
/plugins/EZColors/storage

# HiddenArmor
/plugins/HiddenArmor/enabled-players.yml

# ImageFrame
/plugins/ImageFrame/data

# InteractiveChat
/plugins/InteractiveChat/database.db
/plugins/InteractiveChatDiscordSrvAddon/cache
/plugins/InteractiveChatDiscordSrvAddon/built-in
/plugins/InteractiveChatDiscordSrvAddon/libs

# Journey
/plugins/Journey/journey.db

# LuckPerms
/plugins/LuckPerms/libs
/plugins/LuckPerms/luckperms*
/plugins/LuckPerms/translations/repository

# LWC
/plugins/LWC/backups
/plugins/LWC/lwc.db

# Pl3xMap
/plugins/Pl3xMap/web
/plugins/Pl3xMap/markers

# ProtocolLib
/plugins/ProtocolLib/lastupdate

# SkinsRestorer
/plugins/SkinsRestorer/Players
/plugins/SkinsRestorer/Skins

# Tweakin
/plugins/Tweakin/preset-poses.json

# XCatch
/plugins/XCatch/data.json.gz

# WhitelistPlayers
/plugins/WhitelistPlayers/config.yml
